HTTP_PORT={{http_port}}
HTTPS_PORT={{https_port}}
MYSQL_PASSWORD={{mysql_password}}
MW_SITE_SERVER={{mw_site_server}}
MW_SITE_FQDN={{mw_site_fqdn}}
PHP_UPLOAD_MAX_FILESIZE=10M
PHP_POST_MAX_SIZE=10M
PHP_MAX_INPUT_VARS=1000
CANASTA_ENABLE_ELASTICSEARCH=false
CANASTA_ENABLE_VARNISH=true
CANASTA_ENABLE_WIKI_DIRECTORY=false
MW_SITEMAP_PAUSE_DAYS=1
USE_EXTERNAL_DB=false

CANASTA_IMAGE=ghcr.io/canastawiki/canasta:3.5.7
COMPOSE_PROFILES=internal-db,varnish
MW_SECRET_KEY={{mw_secret_key}}
CADDY_AUTO_HTTPS=off
CANASTA_STAGING_CERTS=false
